machine:
  network:
    interfaces:
      - deviceSelector:
          busPath: "0*"
        dhcp: false
        addresses:
          - ${nodeip}/16
        routes:
          - network: 0.0.0.0/0
            gateway: ${gw}
        vip:
          ip: ${cpip}