cluster_name            = "homelab"
default_gateway         = "10.x.x.x"
talos_cp_01_ip_addr     = "10.x.x.x"
talos_cp_02_ip_addr     = "10.x.x.x"
talos_cp_03_ip_addr     = "10.x.x.x"
talos_worker_01_ip_addr = "10.x.x.x"
talos_worker_02_ip_addr = "10.x.x.x"
talos_worker_03_ip_addr = "10.x.x.x"
cp_vip                  = "10.x.x.x"
proxmox_endpoint        = "https://<PVE_IP_ADDR>:8006/"