apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-route
  namespace: argocd
spec:
  parentRefs:
  - name: homelab-gateway
    namespace: default
  hostnames:
  - "argocd.thorntoncloud.com"
  rules:
  - backendRefs:
    - name: argocd-server
      port: 80