---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgB6d3pVVdDJjZiVhItTJdamHjCQEGaVGA/pxCSBJd90xs+sgALHq0THg4G91K2F+fkXM828tHc8/+32rXQgFwhxHntb2Usq3t4AgWrxKPJbZ99Seyamif9qdfZdIGixUjoMKQ7YiXT3lMzcrX1CSuBU2cJj5VpJowvxTEQOvRobJmkwI4XgE/3vcPaBb6vq6fzxhNbnqrEr3Akty3kgxVZT25GRU0ib+S/Fo4sslEE+lP8kK3sldx51AoT9+knTLP3OxM24zrOOLeHYq4m0ho3j/t0lqgRMRzJPZaOye7CPE1VX26Ipy73/YuEfs119whiKXpQWb/3xfrQg4kWGq+v9TaHO0l1ktIX+A106RvtJ2sVjSFhiPtZgxs54cMG9N6q49feRd4xauPorNasDGmt2xxva2MVEos4MKFt8WDbnKYrfD/pf759wiedn763nYi8dY7nYCYdK3em7qNpEGWEKxpKohOx8UsnM4FbO+/fxUTiVCFuKZ+5NMD2l/0yAIv6AxR4TSxUYn6qtKcytDlaPUe/84vyZjEzzsm5YQxWHDXkVcorpdOlOS2Xi5qBkzGmtijpQf7AWmctKlFP7z1vT49j92/HBr8QpyCMxAU1+ttBvWZAxgSlLfBar6jjw2IFX6JKQFZ7kke7VTn2UgFikpBdyctjFDDygRzFGc1Gz4DdqVscMYT1UAU5F9AKE5lRWZA5W1s7auEPGYnt/AyU74G+yCo3JDqCcnYr1NkW0/Z9G0bfTPNJe
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
