---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgChInAJCvBNRJVjpb8fqVObcpV0cjq8i9+lljQr8XVeLJdIQwqaY9InUd2RKE+i/4WUXb/TaqNfq7k6YQNdBlyM4lkUx/VaBtD1PLV/E1R6jICNhtFpxKjs8GZh2WxNuHCF20SPmpZBqoLEaYYjqWEuUeetepO/jyMVtkksbPzqrzQ+tGx++khfyTnlSreDPCedwVCK3e3PfD/Z4WNw85Ol/6ZCCHHWECbVWHtij4fU3h23fxBjE8NVldsXRTv/OeIgkuzLGzYdM23AY+ogYXHjR4JUETpEtd7tPAgM2phFGB6Jiu/Lw+O+CpZWXKEaRxp3fRiea05fkdUDc/0Gf3lu61Tgaw5+cTRU/oM67i57rGMSda9yCF3N6RanfGQmKqXMkorbPlCdZSC6TKe8J1whafq815YkDvPBqB5W00E0Xcm0vKD4c1kTPRDPiiyXN2XGXuuC5cniSDrKepgDlieCKpS33smz+otZkUnNUnpkpJkETzoIt9/l6ptVSS88pv0nUqaErESFed6y2DosZ7Y/eOMdrSHMYJZtGM3mc3Ij7mgPgPZ3nlwmyrnuKuwRk0R30kR+sLrE1ohE69pzJQ3z0/eW527UntNotX5dO6J5G9UBkjIary+gAjqqBwHoYuM1Apo2q+omyr53668UHQcKXfO9MQ2DTmr7QBcPfweUOZxsdJhc55zSdHAjCfzTY+q5l8dMBx7J2DVSwZbbVVQ4ETSvuJgOhyZwuB2nCAyTWKqyeOsv7kwk
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
