---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgB6WlZwckEQefv7FvhAXG6MCEEap7IKdNoWxJu+fi0wqAU8C7U4qwjsCbwPFBBC9nWydn/86W6Xa8FnS4ccF96oS9Ie/6O/R+j6wcIxJzjGZ/TLh7Uhy+KefPWwYbXFFJEkxy2bPJzetyUyTbIUzMB/Q0OqijsXJ6tbGVmFuz3SQuUQdqRdq1IOGlV5y6eVlgO8wg1yTnFNisaq0cLWmZhmXX8hvDzqtg5mqb5KPcZXGD1/tBhoac768C06PC26I8nRu7htm+5/+28ScGxIY8BkkmKHOyh1gH96ckgJ1r3Yoz1NDPFw+7orfGHZ+mSTMmLOx7HLMZUk7MqGV5iuN1HqoBeBWJGWOjMo/9gRJ5SXSFu5lAx6idJKIJ7WsHLRed61sXQXImI7Z8kVjkqbzMEtnSdGAkGmq1gFqYzRm8Pj/me6mbxLMcaYKbXALL+iX7CejOG1Zf2juEqezA+YsYYoj5PjhcJqMYR/Q94CGbycdp3Twi7OzAERHL6aOVjjhWzm6QyqfcqJFKEh1IA/gWd8nDMz24Q9w4nEYheq4t7/MZgkYUB+C6HDs/szYAeknrE9u9oAfHDCg+Ewf/DLnXRtr5fYKy0tAA/LePC8Q5X2wpkmQW6xCZeowL3q8/+e4dHLKqULfm5y90Kufd5gnrUKpnr8snVhV1l5ViZ+5T2xp0Yh3w5FtXVJth0N7qLQehAmmvfvC40VT2Oegmm7XRStuD8WfYWLJgGtrU+0IytWfuiddXV7YfnJ
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
