---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-key: AgDLsLnA79lAY/SK4t/rc/NPGFNaES62bi/44Q2utLgDA4/8sFpCUm6L8k4N5j3ZOm6Bexce04ZjDwDpD7z/z8ugwYY+WlwvR5HZYjj9dyoZu6afCvYXy6sT/EtLXXdyx6bJP9SAHkdq3yj3C0wLvfmrGAyUtcHzjWAgHGUypsZahE0TW8Q1pZYPrqAK/iVCw51xcXTp2Ha+EHnnadN9Ee/lWaEWVN70hmJ7jkXt1TsIxYoMmBs6Me0fpJN3FLFWaMOqT009PU7E5hBXvWk+5B9tmS8xOMFBisogtmilEC+3VRhcZRQgXmCKKnn5g9J4R1emScGZHqysUpvy68ACGYGFKnuonXqwEq3tJ9kUKHVIKacfBc0d/iKcpok1GOXP+jIT2SIqSsxX9Jk6NnqtKcjpK1TLjaa/O13gtnRWfSSUuE2qTmyjH+w9Ah7dREd+TqKnAUDjZ1xT7fFs4JIqMxHcFPNU/urUMMmFhlLfPwNsxwkvh8jMRzqA7jbxthX2/AyrC2ITIkbnUL0jj3aUZ8UG4wUhoRg/w1eoGGwo+9bB/b0S4B2rGkiKkDgtQ/NS+XSQJ3hW7Cs7/FDevyJobjJHe6pnge79fFzTEGIE7ligd0Es+DNoQVDvifjAUCuEpjVZIdaRUshaf1yg2viCT+04kxeUz4NMgsksl/IXYCnvZzF993aO5moSA8G0azaF4vaC7gLFXGTQg5qjq93DP/jJTTZTnO4l01MZYZ3MB8+KimR0uZRWGBlhkQ==
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
    type: Opaque
